{% extends "_base.html" %}

{% block content %}
    <div id="divContent" class="">
        <h1 class="text-center">All Members</h1>
        <p>
        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th> First Name</th>
                <th> Last Name</th>
                <th> Country</th>
                <th> Occupation</th>
                <th> Work Place</th>
                <th> Level</th>
                <th> Membership confirmed</th>
                <th> Confirm</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in profiles %}
                <tr>
                    <td> {{ profile.firstName }}</td>
                    <td> {{ profile.lastName }}</td>
                    <td> {{ profile.country }}</td>
                    <td> {{ profile.occupation }}</td>
                    <td> {{ profile.workPlace }}</td>
                    <td> {{ profile.levels }}</td>
                    <td> {{ profile.validity }}</td>
                    <td> <a href="{{ url_for('profile.profile_view', profile_id=profile.id) }}"><span class="glyphicon glyphicon-ok"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}