{% extends "_base.html" %}

{% block content %}
    <div id="divContent" class="col-md-6 col-md-offset-3">
        <h1>Complete your Profile</h1>
        <br>
        <form class="form-signin" role="form" method="post" action="">
            {% if current_user.is_authenticated() %}
                <p>Email: {{ current_user.email }}</p>
            {% endif %}
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="formGroupExampleInput">{{ form.firstName.label }}</label>
                {{ form.firstName(placeholder="First Name") }}
            </div>
            <span class="error">
      {% if form.firstName.errors %}
          {% for error in form.firstName.errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
    </span>
            <div class="form-group">
                <label for="formGroupExampleInput">{{ form.lastName.label }}</label>{{ form.lastName(placeholder="last Name") }}
            </div>
            <span class="error">
      {% if form.lastName.errors %}
          {% for error in form.lastName.errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
    </span>
            <div class="form-group">
                <label for="formGroupExampleInput">{{ form.bio.label }}</label>{{ form.bio(placeholder="Biography") }}
            </div>
            <span class="error">
      {% if form.bio.errors %}
          {% for error in form.bio.errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
    </span>
            <div class="form-group">
                <label for="formGroupExampleInput">{{ form.profilePic.label }}</label>{{ form.profilePic(placeholder="Profile Pic") }}
            </div>
            <span class="error">
      {% if form.profilePic.errors %}
          {% for error in form.profilePic.errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
    </span>
            <div class="form-group">
                <label for="formGroupExampleInput">{{ form.occupation.label }}</label>{{ form.occupation(placeholder="Occupation") }}
            </div>
            <span class="error">
      {% if form.occupation.errors %}
          {% for error in form.occupation.errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
    </span>
            <div class="form-group">
                <label for="formGroupExampleInput">{{ form.workPlace.label }}</label>{{ form.workPlace(placeholder="workplace") }}
            </div>
            <span class="error">
      {% if form.workPlace.errors %}
          {% for error in form.workPlace.errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
    </span>
            <div class="form-group">
                <label for="formGroupExampleInput">{{ form.levels.label }}</label>{{ form.levels(placeholder="Level") }}
            </div>
            <span class="error">
      {% if form.levels.errors %}
          {% for error in form.levels.errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
    </span>
            <div class="form-group">
                <label for="formGroupExampleInput">{{ form.country.label }}</label>{{ form.country(placeholder="Country") }}
            </div>
            <span class="error">
      {% if form.country.errors %}
          {% for error in form.country.errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
    </span>
            <button class="btn btn-success" type="submit">Register!</button>

        </form>
    </div>
{% endblock %}