{% extends "_base.html" %}

{% block content %}
    <div id="divContent" class="col-md-6 col-md-offset-3">
        <h1>Complete your Profile</h1>
        <br>
        <form class="form-signin" role="form" method="post" action="">
            {% if current_user.is_authenticated() %}
                <p>Email: {{ current_user.email }}</p>
            {% endif %}
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="formGroupExampleInput">{{ form.phone.label }}</label>
                {{ form.phone(placeholder="Phone Number") }}
            </div>
            <span class="error">
      {% if form.phone.errors %}
          {% for error in form.phone.errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
    </span>
            <div class="form-group">
                <label for="formGroupExampleInput">{{ form.bio.label }}</label>{{ form.bio(placeholder="Biography") }}
            </div>
            <span class="error">
      {% if form.bio.errors %}
          {% for error in form.bio.errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
    </span>
            <div class="form-group">
                <label for="formGroupExampleInput">{{ form.profilePic.label }}</label>{{ form.profilePic(placeholder="Profile Pic") }}
            </div>
            <span class="error">
      {% if form.profilePic.errors %}
          {% for error in form.profilePic.errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
    </span>
            <button class="btn btn-success" type="submit">Register!</button>

        </form>
    </div>
{% endblock %}